{% extends 'base.html' %}
{% load i18n static message_tag %}

{% block title %}
    <title>About</title>
{% endblock title %}

{% block header %}
    {% include 'include/_header.html' %}
{% endblock header %}

{% block content %}
    <!-- row -->
    <div class="row">
        <div class="col-md-5">
            <div class="section-row">
                <div class="section-title">
                    <h2 class="title">{% trans 'Our story' %}</h2>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, mea ad idque detraxit, cu soleat graecis invenire eam.
                    1Vidisse suscipit liberavisse has ex, vocibus patrioque vim et, sed ex tation reprehendunt.
                    Mollis volumus no vix, ut qui clita habemus, ipsum senserit est et.
                    Ut has soluta epicurei mediocrem, nibh nostrum his cu, sea clita electram reformidans an.
                </p>
                <blockquote class="blockquote">
                    <p>Ei prima graecis consulatu vix, per cu corpora qualisque voluptaria. Bonorum moderatius
                        in per, ius cu albucius voluptatum. Ne ius torquatos dissentiunt. Brute illum utroque eu
                        quo. Cu tota mediocritatem vis, aliquip cotidieque eu ius, cu lorem suscipit eleifend
                        sit.</p>
                    <footer class="blockquote-footer">John Doe</footer>
                </blockquote>
            </div>
        </div>
        <div class="col-md-7">
            <div class="section-row">
                <div class="section-title">
                    <h2 class="title">{% trans 'Our Vision' %}</h2>
                </div>
                <p>Est in saepe accusam luptatum. Purto deleniti philosophia eum ea, impetus copiosae id mel.
                    Vis at ignota delenit democritum, te summo tamquam delicata pro. Utinam concludaturque et
                    vim, mei ullum intellegam ei. Eam te illum nostrud, suas sonet corrumpit ea per. Ut sea
                    regione posidonium. Pertinax gubergren ne qui, eos an harum mundi quaestio.</p>
                <p>Nihil persius id est, iisque tincidunt abhorreant no duo. Eripuit placerat mnesarchum ius at,
                    ei pro laoreet invenire persecuti, per magna tibique scriptorem an. Aeque oportere
                    incorrupte ius ea, utroque erroribus mel in, posse dolore nam in. Per veniam vulputate
                    intellegam et, id usu case reprimique, ne aperiam scaevola sed. Veritus omnesque qui ad. In
                    mei admodum maiorum iracundia, no omnis melius eum, ei erat vivendo his. In pri nonumes
                    suscipit.</p>
            </div>
        </div>
    </div>
    <!-- /row -->
{% endblock content %}

{% block footer %}
    {% include 'include/_footer.html' %}
{% endblock footer %}
