{% extends 'base.html' %}
{% load i18n static %}

{% block title %}
    <title>Account restore</title>
{% endblock title %}

{% block header %}
    {% include 'include/_header.html' %}
{% endblock header %}

{% block content %}
    <!-- row -->
    <div class="row">
        <div class="col-md-4 col-md-offset-4" style="padding-top: 20px;">
            <div class="section-row">
                <h1 class="title" style="text-align: center;">{% trans 'Enter your Email' %}</h1>
            </div>
            <div class="section-row" style="margin-bottom: 20px;">
                <form action="{% url 'restore' %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form.email }}
                                <div style="color: red">
                                    {{ form.email.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="primary-button" style="width: 100%;">{% trans 'Submit' %}</button>
                        </div>
                    </div>
                    {{ form.captcha }}
                </form>
            </div>
        </div>
    </div>
    <!-- /row -->
{% endblock content %}

{% block footer %}
    {% include 'include/_footer.html' %}
{% endblock footer %}
